.collapse {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.navbar-brand {
  margin-left: 25px;
}
/* Fim Navbar */
.row {
  text-align: justify;
}

.col-md- {
  position: absolute;
  left: 10%;
}

.p-4 {
  background-color: rgba(0, 68, 255, 0.089);
}

.col-md-6 {
  text-align: center;
}

.p-4 {
  text-align: center;
}

.titulo1 {
  text-align: center;
}

.featurette-heading {
  text-align: center;
}

.img1 {
  position: absolute;
  top: 130vh;
  left: 105vh;
  width: 50vh;
}

.col {
  background-color: black;
}
@media (max-width: 600px) {
}
.container-fluid {
  border-radius: 10px;
}
.color {
  background-color: rgba(255, 208, 0, 0.938);
}

h1 {
  text-align: center;
}
/* hover navbar */
/* .nav-item a::after {
  content: " ";
  width: 0px;
  height: 4px;
  background-image: linear-gradient(45deg, #ff2500, #ffffff);
  position: absolute;
  top: 40px;
  left: 0;
  transition: width 0.5s;
}
.nav-item a:hover::after {
  width: 100%;
}
.nav-item a:hover {
  color: #ffffff;
  transition: 1s;
} */
/* houver navebar */
