@charset "UTF-8";
.collapse{
    font-size: 20px;
    display: flex;
    justify-content:center;
  
  }
  .navbar-brand{
    margin-left: 25px;
  }
  /* Fim Navbar */

/* PREVENÇÃO */

.g-2{
    background-color: rgba(0, 68, 255, 0.089);
    border-radius: 20px;
}
/* PREVENÇÃO */

#texto2{
    text-align:start;
}
h2{
    text-align: center;
}

.col-lg-4{
    text-align: center;
}
h1{
    text-align: center;
}
.col-md-5{
    display: flex;
    align-items: center;
}
.video{   
    border-radius: 10px;
}




